<!-- Footer -->
    <footer>
      <p>footer</p>
      <div>
        <img src="images\Logo_Christina_serra_vector_bw.png" style="width:75px" alt="Logo Christina Serra Footer">
      </div>
      <div class="footer-links">
        <a href="paintings.html">another link to pages</a><br>
        <a href="paintings.html">another link to pages</a><br>
        <a href="paintings.html">another link to pages</a><br>
        <a href="paintings.html">another link to pages</a><br>
      </div>
      <i class="fa fa-fort-awesome 5x"></i>
      <a href="https://www.instagram.com/serramakesthings/"> <i class="fa fa-instagram"></i></a>
      <i class="fa fa-horse"></i>
    </footer>
    <script src="https://kit.fontawesome.com/cd9b1352c8.js" crossorigin="anonymous"></script>
  </body>
</html> 