<!-- Navigation -->
<div class="navigation">
  <a href="index.html" class="logo"><img src="images\Logo_Christina_serra_vector_bw.png" style="width:75px"></img></a>
  <div class="navigation-right">
    <a class="active" href="index.html">Home</a>
    <a href="/wool-textile-paintings.html">Textile</a>
    <a href="/paintings.html">Paintings</a>
    <a href="/mixed-other.html">Mixed</a>
    <a href="/shop.html">Shop</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a>
  </div>
</div>

