<!-- Navigation -->
<div class="navigation">
  <a href="index.html" class="logo"><img src="images\Logo_Christina_serra_vector_bw.png" style="width:75px"></img></a>
  <div class="navigation-right">
    <a class="active" href="index.html">Home</a>
    <a href="/wool-textile-paintings.html">Textile</a>
    <a href="/paintings.html">Paintings</a>
    <a href="/mixed-other.html">Mixed</a>
    <a href="/shop.html">Shop</a>
    <a href="/about.html">About</a>
    <a href="/contact.html">Contact</a>
  </div>
</div>

<header>
  <div class="container">
    <img src="images\Logo_Christina_serra_vector_bw.png" alt="Christina Serra logo" class="logo">
    <nav>
      <ul>
        <li><a href="#"></a>Home</li>
        <li><a href="#"></a>About</li>
        <li><a href="#"></a>Paintings</li>
        <li><a href="#"></a>Wool Art</li>
        <li><a href="#"></a>Shop</li>
        <li><a href="#"></a>Contact</li>
      </ul>


    </nav>
  </div>
</header>