<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon --> 
  <link rel="shortcut icon" href="favicon.ico" type="image/x-con"/>


  <!-- Stylesheet link -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Alice&family=Arima+Madurai:wght@300;700&display=swap" rel="stylesheet">

  <title>{{ site.title }}</title>
</head>
<body>
  {% include header.html %}
  Wrapper <br>
  {{ content }}
  <br> Wrapper
</body>
</html>